body {
  color: #FFFAF0;
  background-color: #2F4F4F;
}

div > table {
  position: fixed;
  text-align: center;
  font-family: helvetica, sans-serif;
  border: 1px solid #FFFAF0;
  border-collapse: collapse;
}

td {
  /*font-family: 'Crimson Text', serif;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #FFFAF0;
}

th {
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  border: 1px solid #FFFAF0;
}
